@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #0b1c30;

  --primary: #004ac6;
  --primary-container: #2563eb;

  --surface: #f8f9ff;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #eff4ff;
  --surface-container-high: #dce9ff;

  --on-surface: #0b1c30;
  --secondary: #565e74;
  --outline: #737686;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);

  --color-surface: var(--surface);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container-high: var(--surface-container-high);

  --color-on-surface: var(--on-surface);
  --color-secondary: var(--secondary);
  --color-outline: var(--outline);

  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}